/* SuspenseLoader.css */
.suspense-loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.8); /* Optional for a loading overlay effect */
  }
  
  .spinner {
	width: 64px;
	height: 64px;
	border: 3px solid rgba(0, 0, 0, 0.2);
	border-top: 3px solid #000;
	border-radius: 50%;
	animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(360deg);
	}
  }
  