.icon { flex-shrink: 0; display: flex; justify-content: center; align-items: center; }
.icon:before { content: ""; display: block; background-repeat: no-repeat; background-position: center; background-size: contain; width: 1em; height: 1em; max-width: 100%; max-height: 100%; }
.icon img { width: 1em; height: 1em; }
.icon-14 { font-size: 14px; }
.icon-24 { font-size: 24px; }
.icon-button { background: transparent; border: 0; font-size: 24px; }
.active .icon-invert { filter: invert(1); }

/* arrow */
