
/* 팝업 */
	/* pop scroll */
	.modal-scroll-container { position: relative; flex-grow: 1; overflow: auto; }
	.modal-scroll-container::-webkit-scrollbar { width: 15px; height: 15px; background: transparent; }
	.modal-scroll-container::-webkit-scrollbar-track { 
		background-color: #fff;
		border-radius: 10px;
		box-shadow: inset 0px 0px 5px white;
	}
	.modal-scroll-container::-webkit-scrollbar-thumb { 
		background-color: #F3F3F3;
		border-radius: 10px;
		background-clip: padding-box;
		border: 4px solid transparent; 
	}
	.modal-scrollable { position: absolute; inset: 0; display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; }

	.modal-dialog { position: fixed; inset: 0; z-index: 5000; display: none; }
	.modal-dialog .dim { position: absolute; inset: 0; z-index: 0; background: rgba(0,0,0,0.5); }
	.modal-dialog .closer { cursor: pointer; }
	.modal-content { position: relative; z-index: 1; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 20px; }
	.modal-contorls { display: flex; justify-content: space-between; align-items: center; padding: 12px 8px 0; }
	.modal-contorls .text-button { color: #fff; text-decoration: underline; text-underline-position: under; font-size: 16px; font-weight: 600; }
	.modal-tool { display: flex; justify-content: flex-end; align-items: center; font-size: 16px; padding: 12px; }
	.modal-head { flex-shrink: 0; padding: 32px 24px 0; }
	.modal-body { flex-grow: 1; padding: 16px 24px 32px; font-size: 14px; font-weight: 400; line-height: 1.46; overflow: auto; }
	.modal-body + .modal-btn-area  { margin-top: 00px; }
	.modal-title { text-align: center; font-size: 20px; font-weight: 600; }
	.modal-btn-area { flex-shrink: 0; display: flex; justify-content: center; align-items: center; padding: 0 20px 24px; margin-top: 30px; }
	.modal-btn-area .btn { flex: 1; }

	.modal-progress { flex-shrink: 0; height: 8px; background: #EAECEC; }
	.modal-progress-bar { max-width: 100%; width: 0%; height: 100%; background: var(--primary); transition: all 0.3s; -webkit-transition: all 0.3s; }

	.modal-banner { flex-shrink: 0; }
	.modal-banner img { width: 100%; }

	/* confirm*/
	.modal-confirm { display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; max-height: 84vh; max-width: 100%; }
	.modal-confirm { background: #fff; border-radius: 16px; border: var(--border-solid); box-shadow: var(--boder-shadow); }
	.modal-confirm .modal-btn-area { padding: 0 30px 54px; gap: 10px; }
	.modal-confirm .modal-btn-area .btn { height: 53px; font-size: 16px; font-weight: 500; }
	.modal-confirm .modal-btn-area .btn:disabled { background: #D7D9D9; color: #989999; }
	.modal-confirm .modal-head { display: flex; justify-content: flex-start; align-items: center; padding: 60px 40px 10px; }
	.modal-confirm .modal-body { padding: 16px 40px 60px; }

	/*alert */
	.modal-alert { display: flex; justify-content: flex-start; align-items: stretch; flex-direction: column; box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12); }
	.modal-alert { background: #fff; border-radius: 16px; width: 100%; max-width: 400px; overflow: hidden; }
	.modal-alert + .modal-contorls { width: 100%; max-width: 400px; }
	.modal-alert .modal-body  { padding: 16px 24px 24px; } 



@media(max-width: 768px){
	.modal-head { padding: 24px 24px 0; }
	.modal-contorls .text-button { font-size: 14px; }

	.modal-banner + .modal-btn-area { margin-top: 24px; }
	.modal-alert .modal-body { padding: 16px 24px 24px; }

	.modal-confirm { border-radius: 16px; }
	.modal-confirm .modal-head { padding: 24px 24px 0px; }
	.modal-confirm .modal-body { padding: 12px 20px 27px; }
	.modal-confirm .modal-btn-area { padding: 0 22px 28px; }
	.modal-confirm .modal-btn-area .btn { font-size: 14px; }


}